<template>
    <H1Base
        class="text-4xl text-center text-slate-100 selection:text-slate-800 selection:bg-rose-200"
    >
        <slot />
    </H1Base>
</template>

<script setup lang="ts">
import H1Base from "~/components/shared/text/H1Base.vue";
</script>

<style lang="postcss" scoped></style>
