<template>
    <PBase
        class="text-base text-center text-slate-100 selection:text-slate-800 selection:bg-rose-200"
    >
        <slot />
    </PBase>
</template>

<script setup lang="ts">
import PBase from "~/components/shared/text/PBase.vue";
</script>

<style lang="postcss" scoped></style>
