<template>
    <div class="flex bg-rose-500 drop-shadow-md">
        <NavBar />
    </div>
</template>

<script setup lang="ts">
import NavBar from "~/components/navigation/NavBar.vue";
</script>

<style lang="postcss" scoped></style>
