<template>
    <li class="inline-block">
        <NuxtLink :to="to">
            <PAppBar
                class="p-1 rounded transition ease-in-out hover:bg-rose-600 px-4 hover:shadow"
            >
                <slot />
            </PAppBar>
        </NuxtLink>
    </li>
</template>

<script setup lang="ts">
import PAppBar from "~/components/navigation/PAppBar.vue";

defineProps<{
    to: string;
}>();
</script>

<style scoped lang="postcss"></style>
