<template>
    <nav class="mx-3 my-2">
        <ul>
            <NavBarLink to="/home">Home</NavBarLink>
            <NavBarLink to="/about">About</NavBarLink>
        </ul>
    </nav>
</template>

<script setup lang="ts">
import NavBarLink from "~/components/navigation/NavBarLink.vue";
</script>

<style scoped lang="postcss"></style>
