<template>
    <H1Base
        class="text-lg text-slate-100 selection:text-rose-100 selection:bg-slate-700"
    >
        <slot />
    </H1Base>
</template>

<script setup lang="ts">
import H1Base from "~/components/shared/text/H1Base.vue";
</script>

<style lang="postcss" scoped></style>
