<template>
    <PageBase>
        <H1Body>About Page</H1Body>
        <PBody class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget mi
            proin sed libero enim sed faucibus turpis. Sed risus pretium quam
            vulputate dignissim suspendisse in est ante. Vel turpis nunc eget
            lorem dolor. Et netus et malesuada fames. Lectus arcu bibendum at
            varius vel pharetra vel turpis nunc. Malesuada fames ac turpis
            egestas maecenas pharetra convallis. Sit amet consectetur adipiscing
            elit ut aliquam purus sit amet. Aliquet porttitor lacus luctus
            accumsan tortor. Fames ac turpis egestas sed tempus urna et.
            Tincidunt arcu non sodales neque. Tortor dignissim convallis aenean
            et tortor at. Tortor vitae purus faucibus ornare suspendisse sed
            nisi lacus sed. Nullam vehicula ipsum a arcu. Suscipit adipiscing
            bibendum est ultricies integer quis.
            <br />
            Quis lectus nulla at volutpat diam ut venenatis tellus in. Netus et
            malesuada fames ac turpis egestas maecenas pharetra. Massa placerat
            duis ultricies lacus sed turpis tincidunt id aliquet. Congue mauris
            rhoncus aenean vel elit scelerisque. Est placerat in egestas erat
            imperdiet sed euismod. Neque sodales ut etiam sit amet nisl purus in
            mollis. Ut enim blandit volutpat maecenas volutpat. Donec massa
            sapien faucibus et molestie ac feugiat sed. Et netus et malesuada
            fames ac turpis egestas maecenas pharetra. Viverra tellus in hac
            habitasse platea. Lacus sed turpis tincidunt id aliquet risus
            feugiat in ante. In fermentum et sollicitudin ac orci phasellus. Eu
            scelerisque felis imperdiet proin fermentum leo vel orci. Accumsan
            tortor posuere ac ut consequat semper viverra nam libero. Ut morbi
            tincidunt augue interdum.
            <br />
            Pellentesque habitant morbi tristique senectus et. Sed tempus urna
            et pharetra pharetra massa. Varius sit amet mattis vulputate enim
            nulla aliquet porttitor lacus. Orci dapibus ultrices in iaculis nunc
            sed. Dignissim suspendisse in est ante in nibh mauris cursus. Quam
            lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
            Mattis nunc sed blandit libero volutpat sed. A pellentesque sit amet
            porttitor eget dolor. Eu facilisis sed odio morbi. Purus sit amet
            volutpat consequat. Lectus mauris ultrices eros in cursus turpis
            massa tincidunt dui. Velit laoreet id donec ultrices tincidunt arcu
            non sodales. Pretium nibh ipsum consequat nisl vel pretium lectus
            quam. Porttitor massa id neque aliquam vestibulum morbi. Nisl
            pretium fusce id velit ut tortor pretium viverra. Tristique senectus
            et netus et malesuada. Maecenas volutpat blandit aliquam etiam erat
            velit scelerisque in dictum. Faucibus vitae aliquet nec ullamcorper
            sit amet. Ipsum suspendisse ultrices gravida dictum fusce ut
            placerat orci. Praesent elementum facilisis leo vel fringilla est
            ullamcorper eget nulla.
            <br />
            Sed ullamcorper morbi tincidunt ornare massa eget egestas purus.
            Consequat interdum varius sit amet mattis. Congue nisi vitae
            suscipit tellus. Egestas egestas fringilla phasellus faucibus
            scelerisque eleifend donec pretium vulputate. In cursus turpis massa
            tincidunt dui. Dignissim suspendisse in est ante in nibh mauris. Ac
            turpis egestas sed tempus urna et pharetra. Id eu nisl nunc mi ipsum
            faucibus vitae aliquet nec. Nulla aliquet porttitor lacus luctus
            accumsan tortor posuere ac ut. Nullam eget felis eget nunc lobortis
            mattis aliquam faucibus. Varius vel pharetra vel turpis. Porta nibh
            venenatis cras sed felis eget velit aliquet sagittis. Consectetur
            adipiscing elit pellentesque habitant morbi tristique senectus. Ut
            consequat semper viverra nam. Eget mauris pharetra et ultrices
            neque. Arcu cursus euismod quis viverra nibh cras. Ullamcorper
            dignissim cras tincidunt lobortis feugiat vivamus.
            <br />
            Mattis enim ut tellus elementum sagittis. Urna molestie at elementum
            eu facilisis sed odio morbi quis. Urna condimentum mattis
            pellentesque id nibh tortor id. Scelerisque mauris pellentesque
            pulvinar pellentesque habitant morbi. Nibh mauris cursus mattis
            molestie a iaculis at. In mollis nunc sed id semper risus in
            hendrerit gravida. Purus in massa tempor nec. Tristique magna sit
            amet purus gravida. Arcu dictum varius duis at. Enim nunc faucibus a
            pellentesque. Viverra nibh cras pulvinar mattis nunc sed. Habitasse
            platea dictumst vestibulum rhoncus est pellentesque elit
            ullamcorper. Id nibh tortor id aliquet lectus proin nibh. Adipiscing
            commodo elit at imperdiet dui accumsan sit amet nulla. Non nisi est
            sit amet facilisis. Suscipit adipiscing bibendum est ultricies
            integer quis auctor elit sed. Est lorem ipsum dolor sit.
        </PBody>
    </PageBase>
</template>

<script setup lang="ts">
import PBody from "~/components/pages/PBody.vue";
import H1Body from "~/components/pages/H1Body.vue";
import PageBase from "~/components/shared/PageBase.vue";

useHead({
    title: "Rosaceae - About",
});
</script>

<style scoped lang="postcss"></style>
