<template>
    <PBody>You are here by error.</PBody>
</template>

<script setup lang="ts">
import PBody from "~/components/pages/PBody.vue";

navigateTo("/home");
</script>

<style scoped lang="postcss"></style>
