<template>
    <div class="h-screen w-screen flex flex-col">
        <AppBar />
        <div class="grow bg-slate-700">
            <slot />
        </div>
    </div>
</template>

<script setup lang="ts">
import AppBar from "~/components/navigation/AppBar.vue";
</script>

<style scoped lang="postcss"></style>
